---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit:     30px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "pure",
        "grids-responsive",
        "blog",
        "syntax-highlighting"
;

.post-category-coding {
    background: #5aba59;
}
.post-category-grunt {
    background: #4d85d1;
}
.post-category-backbone {
    background: #8156a7;
}
.post-category-javascript {
    background: #df2d4f;
}
.post-category-backbone-marionette {
    background: #df2d4f;
}
.post-category-coderetreat {
    background: #df2d4f;
}
.post-category-conference {
    background: #df2d4f;
}
.post-category-judo {
    background: #df2d4f;
}
.post-category-review {
    background: #df2d4f;
}
