<div class="footer">
    <div class="pure-menu pure-menu-horizontal">
        <ul>
            <li class="pure-menu-item"><a href="{{ "/about" | prepend: site.baseurl }}" class="pure-menu-link">About</a></li>
            <li class="pure-menu-item"><a href="https://twitter.com/{{ site.twitter_username }}" class="pure-menu-link">Twitter</a></li>
            <li class="pure-menu-item"><a href="https://github.com/{{ site.github_username }}" class="pure-menu-link">GitHub</a></li>
        </ul>
    </div>
</div>
